@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --main-color-1: oklch(55.8% 0.288 302.321);
  --main-color-2: oklch(74.6% 0.16 232.661);
}

.dark{
  --main-color-1: oklch(55.8% 0.288 302.321);
  --main-color-2: oklch(74.6% 0.16 232.661);
}
